@font-face {
    font-family: 'GLITTEN CAPS';
    src: url('../assets/fuentes/GLITTEN-ALL-CAPS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Glitten Regular';
    src: url('../assets/fuentes/GLITTEN-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../assets/fuentes/Raleway-VariableFont_wght.ttf') format('truetype');
}

.perseflora{
    font-family: 'GLITTEN CAPS';
    font-size: 60px;
    font-weight: 100;
}

.titulos{
    font-family: 'Raleway';
    font-size: 30 px;
    font-weight: bold;
}

header nav{
    width: 100%;
    height: 70px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: palevioletred;
}

.nav-item a{
    color: #734854;
}

.nav-item a:hover{
    color: #292528;
}

#app{
    color:#734854
}


/*//ABOUT US//*/
.suculenta{
    max-width: 100%;
}
.CARDS .card{
    border: none;
}
.CARDS .card-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    background-color: rgba(179, 74, 76, 0.5);
    border-radius: 30px;
    padding: 30px;
    margin: 50px 30x;
}

/*//EQUIPO///*/
/**{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
}*/
.team{
	/*position: relative;*/
	width: 100%;
	height: 100vh;
	background: radial-gradient(pink,peachpuff);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: lightcoral;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}