@font-face {
    font-family: 'GLITTEN CAPS';
    src: url('./assets/fuentes/GLITTEN-ALL-CAPS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glitten Regular';
    src: url('./assets/fuentes/GLITTEN-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fuentes/Raleway-VariableFont_wght.ttf') format('truetype');
}

/*Carrusel*/
#carouselExampleCaptions img {
    height: 600px; /* Ajusta la altura a tu preferencia */
    object-fit: cover; /* Recorta la imagen manteniendo la proporción */
  
}
.carousel-indicators button {
    background-color: #b4369f !important; /* Color del indicador */
    width: 20px !important; /* Ajusta el ancho */
    height: 20px !important; /* Ajusta la altura */
    border-radius: 50% !important; /* Hace que sean círculos */
    border: 2px solid #b4369f !important; /* Borde negro */
    margin: 10px; /* Espaciado entre los indicadores */
    opacity: 1 !important; /* Hace que sean completamente visibles */
}
  
.carousel-indicators .active {
    background-color: rgb(243, 241, 237) !important; /* Color diferente para el activo */
}

.contenedor {
    display: flex;
    gap: 15px; 
    justify-content: center; /* Centrar horizontalmente *//
}

.mi-boton {
    background-color: #B29C2E; 
    border-color: #C8A176; 
    color: white; /* Color texto  */
}
  
.mi-boton:hover {
    background-color: #C8A176; /* Color al pasar el mouse */
    border-color: #C8A176;
}
.carousel-destacados button {
    background-color: #C8A176 !important; 
    border-radius: 0%; 
    border: 1px solid black; 
}

.star {
    font-size: 1.5rem;
    color: #ccc;
}
.star.selected {
    color: gold;
}

.card .img-fluid.rounded-circle {
    width: 100px;  /* Ajusta este tamaño según lo necesites */
    height: 100px; /* Mantén la proporción cuadrada */
}

.carousel-caption h5 {
    color: #ececec;
    background: rgba(0, 0, 0, 0.8); /* Fondo negro con 60% de transparencia */
    padding: 5px 10px;
    border-radius: 10px; /* Bordes redondeados */
    display: inline-block; /* Ajuste al tamaño del texto */
    width: auto; /* El cuadro se ajusta al tamaño del texto */
    margin-bottom: 10px; /* Añade un margen abajo de h5 para separarlo de p */

}

.carousel-caption p {
    color: #f8f8f8; 
    background: rgba(0, 0, 0, 0.562); /* Fondo negro con 60% de transparencia */
    padding: 10px; /* Espaciado interno */
    border-radius: 30px; /* Bordes redondeados */
    display: block; /* Ajuste al tamaño del texto */
    width:auto;
    margin-bottom: 30px;
}

/* Ajuste general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*productos destacados*/
.circle-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px; /* Agrega espacio debajo de las cards */
  }
  
  .circle-card {
    width: 400px;
    height: 400px;
    perspective: 1000px; /* Necesario para el efecto de 3D */
  }
  
  .circle-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* Permite la rotación 3D */
    transition: transform 0.6s; /* Tiempo para la animación */
  }
  
  .circle-card:hover .circle-card-inner {
    transform: rotateY(180deg); /* Gira el card cuando el cursor pasa sobre él */
  }
  
  .circle-card-front,
  .circle-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta la parte trasera cuando se voltea */
  }
  
  .circle-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro para el texto */
    color: white; /* Color del texto */
    transform: rotateY(180deg); /* Gira el texto para que quede detrás */
  }
  
  .circle-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* Para hacer las imágenes circulares */
  }

/* Footer */
footer {
    background-color: #6b5037;
    padding: 30px 0;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-img {
    max-width: 250px;
    height: 130px;
}

.col-footer ul {
    list-style: none;
    padding: 0;
    color: #ffffff;
}

.col-footer ul li {
    font-family: Raleway;
    margin-bottom: 8px;

}

.col-footer ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.col-footer ul li a:hover {
    color: #007bff;
}

h2 {
    color: #ffffff;
    font-family: Glitten Regular;
    font-size: 30px;
}

.titulo {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: raleway;
}

p {
    font-size: 16px;
    font-family: raleway;

}

.col-footer h4{
    font-family: raleway italic;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

/* Contenido de nosotros */
.row-about {
    margin-top: 10px;
    padding: 10px;
    margin-left: 15px;
}

.row-about p {
    font-size: 16px;
    text-align: justify;
}

.row-about h1 {
    font-size: 30px;
    font-family: glitten regular;
    margin-top: 30px;
}

.row-about img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    object-fit: contain;
}

/* Imágenes del equipo */
.img-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    margin-bottom: 20px;
}

/* Carrusel */

.swiper-wrapper {
    align-items: stretch;
    margin-bottom: 50px;
}

.swiper-tittle h1 {
    margin-bottom: 30px;
    font-family: glitten regular;
    align-items: first baseline;
}

.swiper-slide {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: #b4b48d;
    border-radius: 20px;
    padding: 25px;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}

.title-card {
    font-size: 25px;
}

.subtitle-card {
    font-size: 20px;
}

.card-text {
    font-size: 16px;
    text-align: justify;
}

.swiper-tittle {
    margin: 0 8px;
    text-align: center;
}

.bi-github {
    color: black;
    font-size: 1.8rem; 
    padding: 0 5px;
}

.bi-linkedin {
    font-size: 1.8rem;
    padding: 0 5px; 
}

.swiper-pagination-bullet {
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
}
.swiper-pagination-bullet-active {
    background-color: #B92D90; 
}

/*Categorias principales*/
.category-btn {
    width: 100%; /* Que se adapte al contenedor */
    max-width: 350px; /* Máximo tamaño */
    height: 350px;
    border-radius: 50%;
    border: none;
    font-size: 40px; /* Tamaño de la fuente */
    font-family: 'GLITTEN';
    background-color: #b4b48d;
    animation: bounce 1s infinite;  
}

.minimal { 
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(204, 250, 193, 0.4)), 
    url("./assets/Pictures/Fotos-de-suculentas/minimal-echeveriaLola.webp");
}
.kawaii { 
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(238, 243, 108, 0.5)), 
    url("./assets/Pictures/Fotos-de-suculentas/kawaii-mamilariaGracilis.webp");
    background-size: cover; /* Ajusta la imagen dentro del botón */
    background-repeat: no-repeat;
    background-position: center;
}
.detalles { 
    background: linear-gradient(rgba(223, 233, 222, 0.7), rgba(229, 20, 191, 0.5)), 
    url("./assets/Pictures/Fotos-de-suculentas/detalles-crasulaOvata.avif");
    background-size: cover; /* Ajusta la imagen dentro del botón */
    background-repeat: no-repeat;
    background-position: center;
}
/*Animación de rebote*/
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Responsive */

@media (max-width: 540px) {

    .col img {
        max-width: 110px;
        height: auto;
        padding: 10px;
    }

    .col-footer ul {
        font-family: raleway;
        font-size: 1rem;

    }
    .col-footer h4{
        font-family: raleway italic;
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
    }

    h2 {
        font-size: 1.5rem;
    }

    #logo-text {
        margin-bottom: 30px;
    }

    .swiper-wrapper {
        flex: 1 0 100%;
    }

    .row-about {
        margin-left: 0;
        padding: 10px;
    }

    .row-about p {
        font-size: 2rem;
    }

    .row-about h1 {
        font-size: 2.5rem;
    }

    .row-about h4 {
        font-size: 1.6rem;
    }

    .row-about img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: contain;
    }

}

@media (max-width: 768px) {
    .col-footer{
        justify-content: center;
    }

    .col img {
        max-width: 110px;
        height: auto;
        padding: 10px;
    }

    .col-footer h4 {
        font-family: Raleway italic;
        font-size: 1.2rem;
        font-weight: bold;

    }

    .col-footer ul {
        font-family: Raleway;
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .swiper-wrapper {
        flex: 1 0 100%;
    }

    about-us {
        flex-direction: column;
    }

    .row-about {
        margin-left: 0;
        padding: 10px;
    }

    .row-about p {
        font-size: 1.2rem;
    }

    .row-about h1 {
        font-size: 2.5rem;
    }

    .row-about h4 {
        font-size: 1.3rem;
    }

    .row-about img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin-bottom: 15px;
        border-radius: 10px;
        object-fit: contain;
    }

}