@font-face {
    font-family: 'GLITTEN CAPS';
    src: url('./assets/fuentes/GLITTEN-ALL-CAPS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Glitten Regular';
    src: url('./assets/fuentes/GLITTEN-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fuentes/Raleway-VariableFont_wght.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Footer */
footer {
    background-color: #6b5037;
    padding: 30px 0;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 50px;
}

.container-footer {
    overflow-x: hidden;
    max-width: 100%;
    margin: 0 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 180px;
}

.row-footer {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    align-items: center;
}

.col img {
    max-width: 250px;
    height: 130px;
}

.col-footer ul {
    list-style: none;
    padding: 0;
    color: #ffffff;
    text-align: left;
}

.col-footer ul li {
    margin-bottom: 8px;
}

.col-footer ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.col-footer ul li a:hover {
    color: #007bff;
}

h2{
    color: #ffffff;
    font-family: Glitten Regular;
    font-size: 30px;
}

.titulo {
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}
p{
    font-size: 16px;
    font-family: raleway;

}
.titulo h4{
    font-family: 'Belanosima', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

/* Responsive */

@media (max-width: 510px) {
    .row {
        flex-direction: row;
        justify-content: space-between;
    }

    .col-footer {
        flex: 1;
        min-width: 120px;
    }

    .col img {
        max-width: 100px;
        height: auto;
        padding: 10px;
    }

    .titulo h4 {
        font-size: 0.9rem;
        font-weight: bold;
    
    }

    .col-footer ul {
        font-size: 0.6rem;
    }
}


/* Contenido de nosotros */

.row-about {
    margin-top: 10px;
    padding: 10px;
    margin-left: 15px;
}

.row-about p {
    font-size: 16px;
    text-align: justify;
}

.row-about h1 {
    font-size: 30px;
    font-family: glitten regular;
    margin-top: 30px;
}

/* Estilo para la sección .row-text */
.row-text{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 50px;
}
.col-item {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 0 20px;
    padding: 30px;
    background-color: #f1b1b1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h3 {
    font-size: 24px;
    font-family: glitten regular;
    margin-bottom: 8px; 
    
    
}

.col-item p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 8px; 
    
}

.col-item ul {
    list-style-type: none;
    padding: 0;
}

.col-item li {
    font-size: 16px;
    color: black;
    font-family: raleway;
}

/* Imágenes del equipo */
.img-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    margin-bottom: 20px;
}

/* Carrusel */

.swiper-wrapper{
    align-items: stretch;
}
.swiper-tittle h1 {
    margin-bottom: 30px;
    font-family: glitten regular;
    align-items: first baseline;
}

.swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    box-sizing: border-box;
    background-color: hsl(60, 21%, 63%);
    border-radius: 20px;
    padding: 25px;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}

.title-card {
    font-size: 25px;
}

.subtitle-card {
    font-size: 20px;
}

.card-text {
    font-size: 16px;
    text-align: justify;
}

.swiper-tittle {
    margin: 0 8px;
    text-align: center;
}
/* Ajuste general */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
